# Dotnet
**/obj
**/bin

# Editor
.vscode
.editorconfig

# Sharpie
*.bin
*.shr
!bios.bin
/distr
/res
*.png
!font_small.png
!icon.png

# Godot
**/.godot/
*.tmp
# Just in case Godot keeps fighting to produce its own solution:
*.sln

# Generic
*.log
